@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.background {
  background-image: url(../images/services2.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.splash {
  background-image: url(../images/splach.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
